@model LocVoiture.Models.Assurance

<form  method="post">

    <div class="form-group">
        <label>Matricule :</label>
        <input type="text" value="@ViewBag.Voiture.Matricule" class="form-control" />
    </div>
    <div class="form-group">
        <label>Image :</label>
        <img src="~/img/@ViewBag.Voiture.Photo_1" width="100" height="100" />
    </div>
    <div class="form-group">
        <label asp-for="Agence">Agence :</label>
        <input asp-for="Agence" class="form-control" />
        <span asp-validation-for="Agence" class="text-danger"></span></>
    </div>
    <div class="form-group">
        <label asp-for="Date_debut">Date debut :</label>
        <input asp-for="Date_debut" class="form-control" />
        <span asp-validation-for="Date_debut" class="text-danger"></span></>
    </div>
    <div class="form-group">
        <label asp-for="Date_fin">Date fin :</label>
        <input asp-for="Date_fin" class="form-control" />
        <span asp-validation-for="Date_fin" class="text-danger"></span></>
    </div>
    <div class="form-group">
        <label asp-for="Prix">Prix par jour :</label>
        <input asp-for="Prix" class="form-control" />
        <span asp-validation-for="Prix" class="text-danger"></span></>
    </div>

  
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

