@model LocVoiture.Models.Marque;


<form asp-action="Create" asp-controller="Marque" method="post">
    <div class="form-group">
        <label asp-for="Libelle" class="col-form-label">Libelle de la marque :</label>
        <input asp-for="Libelle" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>