@model LocVoiture.Models.Location

<form asp-action="AjouterX" asp-controller="Location" method="post">

    <div class="form-group">
        <label>Matricule :</label>
        <input type="text" value="@ViewBag.voiture.Matricule" class="form-control" />
    </div>
    <div class="form-group">
        <label>Image :</label>
        <img src="~/img/@ViewBag.voiture.Photo_1" width="100" height="100" />
    </div>
    <div class="form-group">

        <label asp-for="Date_debut">Date debut :</label>
        <input asp-for="Date_debut" class="form-control" />
        <span asp-validation-for="Date_debut" class="text-danger"></span></>
    </div>
    <div class="form-group">
        <label asp-for="Date_fin">Date fin :</label>
        <input asp-for="Date_fin" class="form-control" />
        <span asp-validation-for="Date_fin" class="text-danger"></span></>
    </div>
    <div class="form-group">
        <label asp-for="Prix_jour">Prix par jour :</label>
        <input asp-for="Prix_jour" class="form-control" />
        <span asp-validation-for="Prix_jour" class="text-danger"></span></>
    </div>

   

   
    <br />
    <button type="submit" class="btn btn-primary">Ajouter Location</button>
</form>


